<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TCH099_PROJET_INTEGRATEUR"
        tools:targetApi="31">
        <activity
            android:name=".ConsulterCompte"
            android:exported="false" />
        <activity
            android:name=".SupportNautico"
            android:exported="false" />
        <activity
            android:name=".PagePrincipale"
            android:exported="false" />
        <activity
            android:name=".PageAcceuil"
            android:exported="false" />
        <activity
            android:name=".PageConnection"
            android:exported="false"
            android:label="@string/title_activity_demander_support"
            android:theme="@style/Theme.TCH099_PROJET_INTEGRATEUR.NoActionBar" />
        <activity
            android:name=".CreerCompte"
            android:exported="false" />
        <activity
            android:name=".DepotCheque"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>